    /* hello các bạn mình là tôi dii code dạo  */
    
    header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
    }
    
    header .navbar-brand {
        color: white;
    }
    
    header {
        z-index: 3;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        color: white;
        transition: .3s;
        position: relative;
        height: 100%;
        margin: 0 5px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link::before {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        background-color: #28a745;
        opacity: 0;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover:before,
    .navbar-expand-lg .navbar-nav .active .nav-link::before {
        opacity: 1;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover,
    .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #28a745;
    }
    
    .carousel-item {
        height: 100vh;
        position: relative;
    }
    
    .carousel-item::before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(43, 31, 31, 0.7);
    }
    
    .carousel-caption img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
    .carousel-indicators li {
        height: 10px !important;
        width: 10px !important;
        border-radius: 50% !important;
    }
    
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
    }
    /* project  */
    
    #project {
        padding: 80px 0;
    }
    
    #project .card {
        border-radius: 1rem;
        overflow: hidden;
        cursor: pointer;
        margin-top: 40px;
    }
    
    #project .card .card-title {
        transition: .3s;
    }
    
    #project .card:hover .card-title {
        color: #28a745;
    }
    
    #project .card .card-body {
        transition: .3s;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-color: white;
    }
    
    #project .card:hover .card-body {
        border: 1px solid #28a745;
    }
    
    #project .nav {
        justify-content: center;
    }
    
    #project .nav-pills .nav-link {
        border: 1px solid #1a1d2d;
        color: #1a1d2d;
        margin: 0 10px;
    }
    
    #project .nav-pills .nav-link.active {
        background-color: #28a745;
        border-color: #28a745;
        color: white;
    }
    /* 93 beautiful css box shadow */
    /* https://getcssscan.com/css-box-shadow-examples */
    /* reponsive */
    /* break pint bs4 */